.scrum-table div h6 {
  text-align: center;
  background: radial-gradient(circle, rgb(204, 204, 240) 0%, rgba(255,255,255,1) 100%);
  padding: 0.5em 0;
}

.task-col {
  width: fit-content;
  margin: auto;
  margin-bottom: 0.5rem;
}