<div 
  class="card m-1" 
  style="width: 17rem;"
>
  <div class="card-body">
    <h5 class="card-title">{{ task.title }}</h5>
    <div class="d-flex">
      <div class="card-subtitle mb-2 text-muted me-auto">
        {{ task.createdAt | date }}
      </div>
      <span class="badge rounded-pill text-bg-primary d-flex align-items-center">
        Points: {{ task.storyPoints }}
      </span>
    </div>
    <p class="card-text">{{ task.description }}</p>
    <div class="d-flex flex-row justify-content-between">
      <app-task-move
        [iterationId]="iterationId"
        [iterationStorage]="iterationStorage"
        [task]="task"
      >
      </app-task-move>
      <button 
        class="btn btn-sm btn-outline-warning"
        (click)="onUpdate()"
      >
        Update
      </button>
      <button 
        class="btn btn-sm btn-outline-danger"
        (click)="onDelete()"
      >
        Delete
      </button>
    </div>
  </div>
</div>